<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деанонизация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'imprint.min.js' %}"></script>
    <script src="{% static 'jquery.cookie.js' %}"></script>
    <script src="{% static 'deanonization/deanon_worker.js' %}"></script>
</head>
<body>
<table class="table">
    <tbody>
    <tr>
        <td>id</td>
        <td id="id"></td>
    </tr>
    <tr>
        <td>IP</td>
        <td id="ip"></td>
    </tr>
    <tr>
        <td>Fingerprint</td>
        <td id="fingerprint"></td>
    </tr>
    <tr>
        <td>Количество визитов с данного устройства</td>
        <td id="count_f"></td>
    </tr>
    <tr>
        <td>Количество визитов с данного ip</td>
        <td id="count_ip"></td>
    </tr>
    <tr>
        <td>Использование ТОР</td>
        <td id="tor"></td>
    </tr>
    <tr>
        <td>Использование Proxy</td>
        <td id="proxy"></td>
    </tr>
    <tr>
        <td>Использование VPN</td>
        <td id="vpn"></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <h5>Другие визиты с данного устросйтва</h5>
    <div class="row" id="old_visit">

    </div>
</div>
</body>
</html>
